<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>127888604043-un8tbcie574eqn3re04pl5ha2fogqml7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127888604043-un8tbcie574eqn3re04pl5ha2fogqml7</string>
	<key>API_KEY</key>
	<string>AIzaSyAldgHb5BJLolOqcgbyMCp7WEf1sLAgXCA</string>
	<key>GCM_SENDER_ID</key>
	<string>127888604043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.platinum-advisors.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-90196</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-90196.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127888604043:ios:ad84e6bdd62cde43</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-90196.firebaseio.com</string>
</dict>
</plist>